/* @theme: intelligent-blue; */

$product-view-media-gallery-border-radius: 4px;
$product-view-media-gallery-image-border-radius: 4px;

$product-view-media-gallery-nav-item-offset-h: spacing('sm');
$product-view-media-gallery-nav-item-offset-inner: 2px;
$product-view-media-gallery-nav-item-gap: #{spacing('sm') * 2} !default;
