/* @theme: intelligent-blue; */

$dashboard-scorecard-link-hover-background: get-color('primary', 'light-50');
$dashboard-scorecard-link-hover-color: get-color('secondary', 'c5');

$dashboard-scorecard-link-mobile-landscape-background: get-color('primary', 'light');
