/* @theme: intelligent-blue; */

$dashboard-scorecards-container-background: get-color('primary', 'light');
$dashboard-scorecards-container-border: 1px solid get-color('secondary', 'c5');

$dashboard-scorecards-container-divider-background: get-color('secondary', 'c5');
