/* @theme: intelligent-blue; */

$toggler-color-active: get-color('primary', 'active');
$toggler-base-color: get-color('text', 'secondary');
$toggler-unit-background-color: get-color('neutral', 'grey2-50');
