/* @theme: golden-carbon; */

$navigation-menu-item-color: get-color('text', 'primary');
$navigation-menu-link-color-inverse: get-color('text', 'primary');
$navigation-menu-link-color-hover-inverse: get-color('text', 'link-hover');
$navigation-menu-button-background-color-hover: get-color('neutral', 'grey1');
