/* @theme: golden-carbon; */

$oro-toolbar-link-color: get-color('text', 'primary');
$oro-toolbar-link-hover-color: get-color('text', 'secondary');
$oro-toolbar-divider-color: rgba(get-color('text', 'primary'), .55);
$oro-toolbar-icon-color: get-color('text', 'primary');
