/* @theme: golden-carbon; */

$search-widget-input-icon-color: get-color('text', 'primary');
$search-widget-input-color: get-color('text', 'primary');
$search-widget-input-border-color: get-color('text', 'primary');
$search-widget-full-background-color: get-color('neutral', 'white-100');
$search-widget-input-focus-border-color: get-color('text', 'primary');
